<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis_buffer:war exploded">
    <output-path>$PROJECT_DIR$/mybatis_buffer/target/mybatis_buffer-1.0</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatis_buffer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis_buffer" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis_buffer/target/mybatis_buffer-1.0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis_buffer/web/Web" />
    </root>
  </artifact>
</component>