<component name="ArtifactManager">
  <artifact type="war" name="springMVC_test_tiaozhuan:war">
    <output-path>$PROJECT_DIR$/springMVC_test_tiaozhuan/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC_test_tiaozhuan</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVC_test_tiaozhuan-1.0.war">
      <element id="artifact" artifact-name="springMVC_test_tiaozhuan:war exploded" />
    </root>
  </artifact>
</component>