<component name="ArtifactManager">
  <artifact type="war" name="springMvc_test_canshu:war">
    <output-path>$PROJECT_DIR$/springMvc_test_canshu/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMvc_test_canshu</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMvc_test_canshu-1.0.war">
      <element id="artifact" artifact-name="springMvc_test_canshu:war exploded" />
    </root>
  </artifact>
</component>