<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.AccountsMapper">
    <!--此mapper文件中访问的实体类的对象会被放入缓存中-->

    <insert id="saveAccounts" parameterType="accounts">
        insert into accounts(aid, aname, acontent) values(#{aid},#{aname},#{acontent})
    </insert>
</mapper>